{{ $page := .page }}
{{ $summary := .summary }}
{{ $site_type := site.Params.marketing.seo.site_type | default "Person" }}

{{- if $page.IsHome -}}

  {{ partialCached "jsonld/website.html" $page }}

  {{ if ne $site_type "Person" }}
    {{ partial "jsonld/business.html" $page }}
  {{ end }}

  {{ $authorPage := site.GetPage "/authors/admin" }}
  {{ if $authorPage }}
    {{ $sameAs := index site.Params.marketing.seo "same_as" | default (slice
      "https://github.com/sereneHe"
      "https://www.linkedin.com/in/xiaoyu-he-b91a21160/"
      "https://scholar.google.com/citations?hl=zh-CN&user=KBf4QOEAAAAJ&view_op=list_works&gmla=AEk_c1sJwlP7udLWpI4Kpl9BxiVXXVtYy2r9fnM4Y6pe0UKAP6D3UFCw7rLAN92Ug9GPErOPVs1me22ou9XCr5t83EqGmfnP6Y3j7lz3Pls"
      "https://cs.fel.cvut.cz/en/people/hexiaoyu"
    ) }}
    {{ $avatar := ($authorPage.Resources.ByType "image").GetMatch "*avatar*" }}
    {{ $image := "" }}
    {{ with $avatar }}
      {{ $image = (.Fill "360x360 Center").Permalink }}
    {{ end }}
    {{ $personData := dict
      "@context" "https://schema.org"
      "@type" "Person"
      "name" $authorPage.Title
      "url" site.Home.Permalink
      "jobTitle" $authorPage.Params.role
      "description" site.Params.marketing.seo.description
      "sameAs" $sameAs
    }}
    {{ with $image }}{{ $personData = merge $personData (dict "image" .) }}{{ end }}
    {{ with $authorPage.Params.name_native }}{{ $personData = merge $personData (dict "alternateName" .) }}{{ end }}
    {{ with $authorPage.Params.organizations }}
      {{ $org := index . 0 }}
      {{ with $org }}
        {{ $affiliation := dict "@type" "Organization" "name" .name }}
        {{ with .url }}{{ $affiliation = merge $affiliation (dict "url" .) }}{{ end }}
        {{ $personData = merge $personData (dict "affiliation" $affiliation) }}
      {{ end }}
    {{ end }}
    <script type="application/ld+json">
    {{ $personData | jsonify | safeJS }}
    </script>
  {{ end }}

{{- else if $page.IsPage -}}

  {{ if (eq $page.Type "blog") | or (eq $page.Type "publication") | or (eq $page.Type "project") }}
    {{ partial "jsonld/article.html" (dict "page" $page "summary" $summary) }}
  {{ end }}

  {{ if eq $page.Type "event" }}
    {{ partial "jsonld/event.html" (dict "page" $page "summary" $summary) }}
  {{ end }}

{{- end }}
